html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #000000;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 6.25rem;
  border-top: 0.063rem solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  color: #0070f3;
  text-decoration: none;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 50rem;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 0.125rem solid #ffffff;
  border-radius: 0.625rem;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: clamp(70%, 85%, 100%);
  height: 100%;
  background: #000000;
  outline: none;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 37.5rem) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.icon {
  width: 10%;
  height: 10%;
  margin-right: 18.75rem;
}

.header {
  height: 50%
}